*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  margin: 0;
  background-color: var(--cream);
  font: 500 14px 'Montserrat', sans-serif;
  color: var(--grayish-blue);
}

.product-list-title {
  margin: 0;
  font-size: 40px;
  text-align: center;
}

.product-category {
  margin: 0;
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.product-title {
  margin: 0;
  font: 700 32px / 32px 'Fraunces', serif;
  color: var(--dark-blue)
}

.product-description {
  margin: 5px 0 15px;
  line-height: 23px;
}

.product-price--lg {
  font: 700 32px / 32px 'Fraunces', serif;
  color: var(--dark-cyan);
}

.product-price--sm {
  margin-left: 19px;
  font-size: 13px;
  line-height: 23px;
  text-decoration: line-through;
}

.cart-text {
  margin-left: 12px;
  font: 700 14px 'Montserrat', sans-serif;
  color: var(--white);
}

.container {
  width: 295px;
  margin: 0 auto;
  padding: 24px 0;
}

.product-list-items {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.product {
  width: 343px;
  height: 650px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.product-image {
  width: 100%;
  height: 240px;
  border-radius: 10px 10px 0 0;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 390px;
}

.product-price-wrapper {
  display: flex;
  align-items: center;
}

.product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--dark-cyan);
}

.product-btn:hover {
  cursor: pointer;
  background-color: hsl(157, 43%, 18%);
}

@media screen and (min-width: 1440px) {
  .container {
    width: 236px;    
    padding: 32px 0;
  }

  .product {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 450px;
  }

  .product-image {
    width: 300px;
    height: auto;
    border-radius: 10px 0 0 10px;
  }

  .product-info {
    height: auto;
  }
}

